<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>
  <script src="//unpkg.com/@element-plus/icons-vue"></script>
</head>
<body>
  <div id="app">
    <el-header>
      <el-button @click="onAddProject">新增</el-button>
    </el-header>

    <el-main>
      <el-table border :data="projectList">
        <el-table-column label="项目标识" prop="name"></el-table-column>
        <el-table-column label="url前缀" prop="urlPrefix"></el-table-column>
        <el-table-column label="代理目标host" prop="proxyHost"></el-table-column>
        <el-table-column label="本地项目" prop="isLocal" :width="90" align="center">
          <template #default="{ row }">
            <el-checkbox v-model="row.isLocal" disabled />
          </template>
        </el-table-column>
        <el-table-column label="node执行文件" prop="script"></el-table-column>
        <el-table-column label="项目所在路径" prop="dir" :min-width="150"></el-table-column>
        <el-table-column label="运行" :width="70" align="center">
          <template #default="{ row }">
            <el-switch v-model="row.isStart" disabled />
          </template>
        </el-table-column>
        <el-table-column label="操作" :width="190">
          <template #default="{ row }">
            <el-button v-if="!row.isStart" @click="removeProject(row)">删除</el-button>
            <el-button v-if="!row.isStart" @click="startProject(row)">启动</el-button>
            <el-button v-if="row.isStart" @click="stopProject(row)">停止</el-button>
            <el-button v-if="row.isStart" @click="showProgressDetail(row)">查看进程</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-main>

    <el-dialog v-model="newProjectVisible" title="新增" :close-on-click-modal="false" :width="480">
      <el-dropdown @command="setDefaultProject">
        <el-button class="el-dropdown-link">默认项目</el-button>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item v-for="project in defaultProject" :key="project.name" :command="project.name">
                {{ project.name }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>

      <el-form ref="newProjectForm" :model="newProject" label-width="120px">
        <el-form-item label="项目标识" prop="name" required>
          <el-input v-model="newProject.name" />
        </el-form-item>

        <el-form-item label="url前缀" prop="urlPrefix" required>
          <el-input v-model="newProject.urlPrefix" />
        </el-form-item>

        <el-form-item label="代理目标host" prop="proxyHost" required>
          <el-input v-model="newProject.proxyHost" />
        </el-form-item>

        <el-form-item label="是否本地项目" prop="isLocal" required>
          <el-checkbox v-model="newProject.isLocal" />
        </el-form-item>

        <template v-if="newProject.isLocal">
          <el-form-item label="node执行文件" prop="script" required>
            <el-input v-model="newProject.script" />
          </el-form-item>

          <el-form-item label="项目目录" prop="dir" required>
            <el-input v-model="newProject.dir"/>
          </el-form-item>
        </template>
      </el-form>

      <template #footer>
        <el-button @click="cancelAddProject">取消</el-button>
        <el-button type="primary" @click="submitAddProject">新增</el-button>
      </template>
    </el-dialog>

    <el-dialog  v-model="progressDetailVisible" title="进程详情" :close-on-click-modal="false" :width="640">
      <template v-if="progressDetail.pm2_env">
        <el-descriptions :title="progressDetail.pm2_env.name" :column="3">
          <el-descriptions-item label="Progress Id:">
            [{{ progressDetail.pm2_env.pm_id }}]
          </el-descriptions-item>
          <el-descriptions-item label="Mem:">
            <b>{{ (progressDetail.monit.memory / 1048576).toFixed(2) }}</b> MB
          </el-descriptions-item>
          <el-descriptions-item label="CPU:">
            <b :style="{ color: gradient(progressDetail.monit.cpu, [255, 0, 0], [0, 255, 0]) }">{{ progressDetail.monit.cpu}}</b> %
          </el-descriptions-item>
        </el-descriptions>

        <el-collapse accordion model-value="metrics">
          <el-collapse-item name="metrics" title="Custom Metrics" v-if="progressDetail.pm2_env.axm_monitor">
            <el-descriptions border :column="1">
              <el-descriptions-item v-for="(metrics, key) in progressDetail.pm2_env.axm_monitor" :key="key" :label="key">
                {{ metrics.value || metrics }} {{ metrics.unit }}
              </el-descriptions-item>
            </el-descriptions>
          </el-collapse-item>

          <el-collapse-item name="meta" title="Metadata">
            <el-descriptions border :column="1">
              <el-descriptions-item label="Name">
                {{ progressDetail.pm2_env.name }}
              </el-descriptions-item>
              <el-descriptions-item label="Namespace">
                {{progressDetail.pm2_env.namespace}}
              </el-descriptions-item>
              <el-descriptions-item label="Version">
                {{progressDetail.pm2_env.version}}
              </el-descriptions-item>
              <el-descriptions-item label="Restarts">
                {{progressDetail.pm2_env.restart_time}}
              </el-descriptions-item>
              <el-descriptions-item label="Uptime">
                {{(progressDetail.pm2_env.pm_uptime && progressDetail.pm2_env.status == 'online') ? progressDetail.pm2_env.pm_uptime : 0}}
              </el-descriptions-item>
              <el-descriptions-item label="Script Path">
                {{progressDetail.pm2_env.pm_exec_path}}
              </el-descriptions-item>
              <el-descriptions-item label="Scritp Args">
                {{progressDetail.pm2_env.args ? (typeof progressDetail.pm2_env.args == 'string' ? JSON.parse(progressDetail.pm2_env.args.replace(/'/g, '"')):progressDetail.pm2_env.args).join(' ') : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Interpreter">
                {{progressDetail.pm2_env.exec_interpreter}}
              </el-descriptions-item>
              <el-descriptions-item label="Interpreter Args">
                {{progressDetail.pm2_env.node_args.length != 0 ? progressDetail.pm2_env.node_args : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Exec Mode">
                {{progressDetail.pm2_env.exec_mode}}
              </el-descriptions-item>
              <el-descriptions-item label="Node Version">
                {{progressDetail.pm2_env.node_version}}
              </el-descriptions-item>
              <el-descriptions-item label="Watch">
                {{progressDetail.pm2_env.watch}}
              </el-descriptions-item>
              <el-descriptions-item label="Unstable Restart">
                {{progressDetail.pm2_env.unstable_restarts}}
              </el-descriptions-item>
              <el-descriptions-item label="Comment">
                {{(progressDetail.pm2_env.versioning) ? progressDetail.pm2_env.versioning.comment : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Revision">
                {{(progressDetail.pm2_env.versioning) ? progressDetail.pm2_env.versioning.revision : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Branch">
                {{(progressDetail.pm2_env.versioning) ? progressDetail.pm2_env.versioning.branch : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Remote Url">
                {{(progressDetail.pm2_env.versioning) ? progressDetail.pm2_env.versioning.url : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Last Update">
                {{(progressDetail.pm2_env.versioning) ? progressDetail.pm2_env.versioning.update_time : 'N/A'}}
              </el-descriptions-item>
            </el-descriptions>
          </el-collapse-item>
        </el-collapse>
      </template>
    </el-dialog>
  </div>

  <script src="./dashboard.js"></script>
</body>
</html>