<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects Launcher</title>
  <!-- Import style -->
  <link rel="stylesheet" href="../libs/index.min.css" />
  <link rel="stylesheet" href="./css/dashboard.css"></link>
  <!-- Import Vue 3 -->
  <script src="../libs/vue.global.prod.min.js"></script>
  <!-- Import component library -->
  <script src="../libs/index.full.min.js"></script>
  <script src="../libs/index.iife.min.js"></script>
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>
        <div>
          启动地址：<a :href="serverLink">{{serverLink}}</a>
        </div>
        <div>
          <el-button @click="updatePort">修改端口</el-button>
          <el-button @click="onAddProject">新增</el-button>
          <el-button @click="showMonit">进程监控器</el-button>
          <el-button @click="proxyLogVisible = true">查看代理日志</el-button>
        </div>
      </el-header>

      <el-main>
        <el-table border :data="projectList">
          <el-table-column label="项目标识" prop="name"></el-table-column>
          <el-table-column label="url前缀" prop="urlPrefix"></el-table-column>
          <el-table-column label="代理目标host" prop="proxyHost" :min-width="220">
            <template #default="{row }">
              <el-tag v-if="row.isLocal" effect="dark" type="danger" size="small">local</el-tag>
              <el-tag v-else effect="dark" type="success" size="small">online</el-tag>
              <span style="margin-left: 5px;">{{ row.proxyHost }}</span>
            </template>
          </el-table-column>
          <el-table-column label="node执行文件" prop="script" :width="130"></el-table-column>
          <el-table-column label="项目所在路径" prop="dir" :min-width="180"></el-table-column>
          <el-table-column label="运行" :width="70" align="center">
            <template #default="{ row }">
              <el-switch :value="row.isStart" :before-change="() => switchProject(row)" :loading="row._loading" />
            </template>
          </el-table-column>
          <el-table-column label="操作" :width="120">
            <template #default="{ row }">
              <el-button v-if="!row.isStart" @click="removeProject(row)">删除</el-button>
              <el-button v-if="row.isLocal && row.isStart" @click="showProcessDetail(row)">查看进程</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-main>
    </el-container>

    <el-dialog v-model="newProjectVisible" title="新增" :close-on-click-modal="false" :width="480" align-center>

      <el-form ref="newProjectForm" :model="newProject" label-width="120px">
        <el-form-item label="项目标识" prop="name" required>
          <el-input v-model="newProject.name">
            <template #append>
              <el-dropdown trigger="click" @command="setDefaultProject">
                <el-button class="el-dropdown-link">example</el-button>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item v-for="project in defaultProject" :key="project.name" :command="project.name">
                        {{ project.name }}
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="url前缀" prop="urlPrefix" required>
          <el-input v-model="newProject.urlPrefix" />
        </el-form-item>

        <el-form-item label="代理目标host" prop="proxyHost" required>
          <el-input v-model="newProject.proxyHost" />
        </el-form-item>

        <el-form-item label="是否本地项目" prop="isLocal" required>
          <el-checkbox v-model="newProject.isLocal" />
        </el-form-item>

        <template v-if="newProject.isLocal">
          <el-form-item label="项目目录" prop="dir" required>
            <el-input v-model="newProject.dir">
              <template #append>
                <el-button size="small" @click="onDirectory" icon="FolderAdd" title="选择目录"></el-button>
              </template>
            </el-input>
          </el-form-item>

          <el-form-item label="node执行文件" prop="script" required>
            <el-input v-model="newProject.script">
              <template #append>
                <el-button size="small" @click="onScriptFile" icon="DocumentAdd" title="选择文件"></el-button>
              </template>
            </el-input>
          </el-form-item>
        </template>
      </el-form>

      <template #footer>
        <el-button @click="cancelAddProject">取消</el-button>
        <el-button type="primary" @click="submitAddProject">新增</el-button>
      </template>
    </el-dialog>

    <el-dialog  v-model="processDetailVisible" title="进程详情" :close-on-click-modal="false" :width="640">
      <template v-if="processDetail.pm2_env">
        <el-descriptions :title="processDetail.pm2_env.name" :column="3">
          <template #extra>
            <el-button @click="showProcessLog">查看日志</el-button>
            <el-button @click="showProcessError">查看异常日志</el-button>
          </template>
          <el-descriptions-item label="Process Id:">
            [{{ processDetail.pm2_env.pm_id }}]
          </el-descriptions-item>
          <el-descriptions-item label="Mem:">
            <b>{{ (processDetail.monit.memory / 1048576).toFixed(2) }}</b> MB
          </el-descriptions-item>
          <el-descriptions-item label="CPU:">
            <b :style="{ color: gradient(processDetail.monit.cpu, [255, 0, 0], [0, 255, 0]) }">{{ processDetail.monit.cpu}}</b> %
          </el-descriptions-item>
        </el-descriptions>

        <el-collapse accordion model-value="metrics">
          <el-collapse-item name="metrics" title="Custom Metrics" v-if="processDetail.pm2_env.axm_monitor">
            <el-descriptions border :column="1">
              <el-descriptions-item v-for="(metrics, key) in processDetail.pm2_env.axm_monitor" :key="key" :label="key">
                {{ metrics.value ?? metrics }} {{ metrics.unit }}
              </el-descriptions-item>
            </el-descriptions>
          </el-collapse-item>

          <el-collapse-item name="meta" title="Metadata">
            <el-descriptions border :column="1">
              <el-descriptions-item label="Name">
                {{ processDetail.pm2_env.name }}
              </el-descriptions-item>
              <el-descriptions-item label="Namespace">
                {{processDetail.pm2_env.namespace}}
              </el-descriptions-item>
              <el-descriptions-item label="Version">
                {{processDetail.pm2_env.version}}
              </el-descriptions-item>
              <el-descriptions-item label="Restarts">
                {{processDetail.pm2_env.restart_time}}
              </el-descriptions-item>
              <el-descriptions-item label="Uptime">
                {{(processDetail.pm2_env.pm_uptime && processDetail.pm2_env.status == 'online') ? processDetail.pm2_env.pm_uptime : 0}}
              </el-descriptions-item>
              <el-descriptions-item label="Script Path">
                {{processDetail.pm2_env.pm_exec_path}}
              </el-descriptions-item>
              <el-descriptions-item label="Scritp Args">
                {{processDetail.pm2_env.args ? (typeof processDetail.pm2_env.args == 'string' ? JSON.parse(processDetail.pm2_env.args.replace(/'/g, '"')):processDetail.pm2_env.args).join(' ') : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Interpreter">
                {{processDetail.pm2_env.exec_interpreter}}
              </el-descriptions-item>
              <el-descriptions-item label="Interpreter Args">
                {{processDetail.pm2_env.node_args.length != 0 ? processDetail.pm2_env.node_args : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Exec Mode">
                {{processDetail.pm2_env.exec_mode}}
              </el-descriptions-item>
              <el-descriptions-item label="Node Version">
                {{processDetail.pm2_env.node_version}}
              </el-descriptions-item>
              <el-descriptions-item label="Watch">
                {{processDetail.pm2_env.watch}}
              </el-descriptions-item>
              <el-descriptions-item label="Unstable Restart">
                {{processDetail.pm2_env.unstable_restarts}}
              </el-descriptions-item>
              <!-- <el-descriptions-item label="Comment">
                {{(processDetail.pm2_env.versioning) ? processDetail.pm2_env.versioning.comment : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Revision">
                {{(processDetail.pm2_env.versioning) ? processDetail.pm2_env.versioning.revision : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Branch">
                {{(processDetail.pm2_env.versioning) ? processDetail.pm2_env.versioning.branch : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Remote Url">
                {{(processDetail.pm2_env.versioning) ? processDetail.pm2_env.versioning.url : 'N/A'}}
              </el-descriptions-item>
              <el-descriptions-item label="Last Update">
                {{(processDetail.pm2_env.versioning) ? processDetail.pm2_env.versioning.update_time : 'N/A'}}
              </el-descriptions-item> -->
            </el-descriptions>
          </el-collapse-item>
        </el-collapse>
      </template>
    </el-dialog>

    <el-dialog v-model="proxyLogVisible" title="代理日志" fullscreen align-center>
      <ul v-if="proxyLogs.length" class="proxy-log" id="proxy-log">
        <li class="proxy-log-item" v-for="log in proxyLogs" :key="log.timestamp">
          <span class="log-time"><el-tag>{{log.type}}</el-tag>{{filterDate(log.data.timestamp)}}</span>
          <span class="log-name" :title="log.proxy">{{log.data.proxy}}</span>

          <template v-if="log.type === 'log'">
            <span class="log-target" :title="log.target">{{log.data.target}}</span>
          </template>

          <template v-if="log.type === 'response'">
            <pre class="log-response" :title="log.data.toString()">{{log.data.data}}</pre>
          </template>

          <template v-if="log.type === 'error'">
            <pre class="log-error">{{log.data.error}}</pre>
          </template>
        </li>
      </ul>

      <el-empty v-else/>
    </el-dialog>

    <el-dialog v-model="monitVisible" title="进程监控器" fullscreen align-center>
      <div id="monit"></div>
    </el-dialog>
  </div>

  <script type="module" src="./js/dashboard.js"></script>
</body>
</html>